<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Diary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let item of diary">
    <ion-card-header>
      <ion-card-subtitle>{{ item.Time }}</ion-card-subtitle>
      <ion-card-title>{{ item.Date }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ item.Details }}
      <br/><br/>
      --    {{item.Author}}
    </ion-card-content>
  </ion-card>
</ion-content>